<div class="archive-page">
  <div class="archive-content">
    <% @posts.reverse[0...5].each do |post| %>
      <div class="post-content">
        <div class="details">
          <small>by <%= post.author %></small>
          <small><%= post.date_published ? post.date_published.strftime('%d %b, %Y') : post.created_at.strftime('%d %b, %Y') %></small>
        </div>

        <h2>
          <%= link_to post_path(post) do %>
            <%= post.title %>
          <% end %>
        </h2>
        <p class="blurb"><%= truncate(strip_tags(post.post_content.to_s), length: 250) %></p>

      </div>
    <% end %>
  </div>
  <div class="by-month">
    <div class="recent-posts-container">
      <h4>Recent Posts</h4>
      <div class="recent-posts">
        <% @posts.reverse.each do |post| %>
          <p>
            <%= link_to post_path(post) do %>
              <%= post.title %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="archives-container">
      <h4>Archives</h4>
      <div class="archives">

      </div>
    </div>
    <div class="categories-container">
      <h4>Categories</h4>
      <div class="categories">
        <% @categories.each do |category| %>
          <p><%= category.name %></p>
        <% end %>
      </div>
    </div>
  </div>

</div>

